.search-input-wrapper {
  position: relative;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input-container .icon {
  position: absolute;
  pointer-events: all;
  z-index: 1;
}

.search-input-container .search-icon {
  left: 10px;
  width: 24px;
  height: auto;
  color: var(--second-color-200);
}

.search-input-container .close-icon {
  right: 10px;
  width: 24px;
  height: auto;
  color: var(--first-color-700);
  cursor: pointer;
}

.search-input-container input {
  padding: 10px 40px 10px 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px var(--third-color-200) solid;
  color: var(--second-color-700);
  font-family: "PP Neue Montreal Medium";
}

.search-input-container input::placeholder {
  color: var(--second-color-700);
}
