* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PP Neue Montreal Book", sans-serif;
}

:root {
  --first-color-200: #f1daff;
  --first-color-300: #d898ff;
  --first-color-400: #9747ff;
  --first-color-700: #57167e;

  --second-color-100: #ebf0f8;
  --second-color-200: #717ca3;
  --second-color-400: #3e4970;
  --second-color-700: #253057;

  --third-color-100: #ffffff;
  --third-color-200: #d5d6e3;
}
